.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.car {
    width: 800px;
    height: 500px;
    object-fit: contain;
}

.texts {
    display: flex;
    gap: 100px;
}

p {
    color: gray;
}

.element {
    display: flex;
    flex-direction: column;
}

.verx {
    width: 100px;
    height: 60px;
    object-fit: contain;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.item {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    gap: 10px;
}

.element {
    align-items: center;
}

.onclick {
    position: sticky;
    margin: 0 auto;
    margin-top: -550px;
    left: 650px;
    width: 200px;
    height: 100px;
}

/* .car:hover {
    transform: scale(10);
}  */

.black,
.white,
.gray {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.black {
    background-color: #262626;
}

.white {
    background-color: #EFEFEF;
}

.gray {
    background-color: #E6DDD0;
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colors {
    gap: 10px;
    display: flex;
}

.saloni {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
    display: none;
}